@use 'variables' as var;
@use 'header.scss';
@use 'footer.scss';
@use 'flex.scss';
@use 'navigation.scss';
@use 'theme.scss';
@use 'keyframes.scss';

@font-face {
	font-family: 'SteelfishRegular';
	src: url('../fonts/steelfish.eot');
	src: url('../fonts/steelfish.eot?iefix') format('embedded-opentype'), url('../fonts/steelfish.woff') format('woff'), url('../fonts/steelfish.ttf') format('truetype'),
		url('../fonts/steelfish.svg') format('svg');
	font-weight: normal;
	font-style: block;
	font-display: block;
	font-display: block;
}
@font-face {
	font-family: 'CalibriRegular';
	src: url('../fonts/calibri.eot') format('embedded-opentype'), url('../fonts/calibri.woff') format('woff'), url('../fonts/calibri.ttf') format('truetype'), url('../fonts/calibri.svg') format('svg');
	font-weight: normal;
	font-style: normal;
	font-display: block;
}
@font-face {
	font-family: 'CalibriItalic';
	src: url('../fonts/calibrii.eot') format('embedded-opentype'), url('../fonts/calibrii.woff') format('woff'), url('../fonts/calibrii.ttf') format('truetype'),
		url('../fonts/calibrii.svg') format('svg');
	font-weight: normal;
	font-style: italic;
	font-display: block;
}
@font-face {
	font-family: 'CalibriBold';
	src: url('../fonts/calibrib.eot') format('embedded-opentype'), url('../fonts/calibrib.woff') format('woff'), url('../fonts/calibrib.ttf') format('truetype'),
		url('../fonts/calibrib.svg') format('svg');
	font-weight: bold;
	font-style: normal;
	font-display: block;
}

.screen-reader-text {
	position: absolute !important;
	width: 1px !important;
	height: 1px !important;
	padding: 0 !important;
	margin: -100% !important;
}

/* =============================================
	 RESETS
================================================ */
*,
*::before,
*::after {
	box-sizing: border-box;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
	display: block;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

td,
th {
	padding: 0;
}

div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
p,
blockquote,
th,
td {
	margin: 0;
	padding: 0;
}

button,
input,
select,
textarea {
	font: inherit;
	margin: 0;
}

ul {
	list-style: none;
}

button,
select {
	text-transform: none;
}

img,
picture,
svg,
canvas,
video {
	display: block;
	// max-inline-size: 100%;
	width: 100%;
	block-size: auto;
}

/* =============================================
	 BASE LEVEL 
================================================ */
html {
	font-size: 100%;
	box-sizing: border-box;
	font-family: inherit;
	scroll-behavior: smooth;
	//scroll-behavior: cubic-bezier(0.42, 0, 0.58, 1);
}

body {
	overflow-x: hidden !important;
	line-height: 1.6;
	margin: 0;
	font-family: var.$font-sans-serif;
	font-weight: normal;
	font-size: min(max(2rem, 2.7vw), 22px);
	height: 100%;
	background: var.$bg-clr;
	position: relative;
	animation: fadeInAnimation ease 0.25s;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

body main {
	min-height: 100vh;
	min-height: 100dvh;
	overflow-x: hidden !important;
}

.screen-reader-text {
	position: absolute !important;
	width: 1px !important;
	height: 1px !important;
	padding: 0 !important;
	margin: -100% !important;
}

@media (max-width: 600px) {
	body {
		padding: 0;
	}
}

/* =============================================
	 HEADINGS / ELEMENTS / TAGS
================================================ */
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: var.$theme-font;
	color: var.$font-clr;
	margin: 0 0 1.5rem;
	line-height: 1;
	letter-spacing: 1px;
}

h1 {
	font-size: min(max(3.5rem, 5vw), 70px);
}

h2 {
	font-size: min(max(2.5rem, 4vw), 50px);
}

h3 {
	font-size: min(max(2rem, 2.5vw), 40px);
}

h4 {
	font-size: min(max(1.7rem, 2.25vw), 30px);
}

h5 {
	font-size: min(max(1.4rem, 2vw), 20px);
}

h6 {
	color: green;
	font-size: min(max(1.2rem, 1.8vw), 18px);
}

h2 span {
	font-family: var.$font-serif;
	font-style: italic;
	font-weight: 400;
	font-size: 180%;
	letter-spacing: -1px;
}

p {
	font-size: inherit;
	line-height: inherit;
	margin-bottom: 1rem;
	text-rendering: optimizeSpeed;
	text-wrap: pretty;
	color: var.$dark;
	text-align: left;
}

.text-sm {
	font-size: 80%;
}

a,
a:link,
a:hover,
a:visited {
	transition: var.$transition-time;
	color: var.$font-clr;
	text-decoration: none;
}

a.underline {
	text-decoration: underline;
	text-underline-offset: 3px;
	text-decoration-thickness: 0.75px;
}

a:hover {
	transition: var.$transition-time;
	color: var.$theme-clr;
	text-decoration: none;
	text-underline-offset: 5px;
}

div,
p {
	text-wrap: pretty;
}

.bold {
	font-family: 'CalibriBold', sans-serif;
	font-weight: bold;
}

strong {
	font-family: 'CalibriBold', sans-serif;
	font-weight: bold;
}

.justify {
	text-align: justify;
}

.left {
	text-align: left !important;
}

@media (max-width: 640px) {
	.justify {
		text-align: left;
	}
}

/* =============================================
	 IMAGES
================================================ */
img {
	width: 100%;
	max-width: 100%;
	border: 0;
	height: auto;
	display: inline-block;
	vertical-align: middle;
}

/* =============================================
	 MIN/MAX/CLAMP
================================================ */
.min {
	width: min(600px, 70%);
}
.max {
	width: max(600px, 70%);
}
.minmax {
	font-size: min(max(2.2rem, 9vw), 120px);
}
.clamp {
	font-size: clamp(1rem, 2vw, 70%); /* smallest, ideal, largest values */
}

/* =============================================
	 LISTS
================================================ */
ul,
ol {
	font-size: inherit;
	line-height: 1.4;
	margin: 0 0 0.5rem 1.5rem;
	list-style-position: outside;
	font-family: inherit;
}

// ol {
// 	margin-left: 1.4rem;
// 	list-style-position: inside !important;
// 	border: 1px red solid;
// }

header ul,
footer ul {
	list-style: none;
	margin: 0;
}

/* =============================================
	 REVEAL BANNERS
================================================ */
.reveal-container {
	position: relative;
	overflow: hidden !important;
	width: 100%;
	max-height: 800px;
}

.reveal-container img {
	min-width: 1000px;
}

.reveal {
	margin-bottom: -3.5%;
	opacity: 1;
	transform: translateY(0%);
	transition: var.$transition-time;
}

.reveal.revealer--show {
	visibility: visible;
	opacity: 1;
}

.reveal.revealer--unpinned {
	visibility: visible;
	opacity: 1;
	transform: translateY(-5%);
}

@media (max-width: 800px) {
	.reveal-container img {
		min-width: 600px;
	}
	.reveal {
		margin-bottom: -5%;
	}
}

/* =============================================
	 LENIS
================================================ */
html.lenis,
html.lenis body {
	height: auto;
	scroll-behavior: initial;
}

html.lenis-stopped,
html.nav {
	overflow: hidden;
}
body {
	min-height: 100vh;
}

.lenis.lenis-smooth {
	scroll-behavior: auto;
}
.lenis.lenis-smooth [data-lenis-prevent] {
	overscroll-behavior: contain;
}
.lenis.lenis-stopped {
	overflow: hidden;
}
.lenis.lenis-scrolling iframe {
	pointer-events: none;
}

/* =================================
	 BUTTONS
==================================== */
button {
	font-family: var.$theme-font;
	border: none;
	text-transform: uppercase;
	letter-spacing: 2px;
	cursor: pointer;
	transition: var.$transition-time;
	margin-top: 1rem;
	padding: 0;
}

button a,
.btn {
	font-family: var.$theme-font;
	font-size: 1.4rem;
	font-weight: 600;
	line-height: 1;
	letter-spacing: 1px;
	text-transform: uppercase;
	border: none;
	border-radius: 2px;
	padding: 0.6rem 1rem;
	cursor: pointer;
	position: relative;
	background: var.$dark;
	color: #fff !important;
	cursor: pointer;
	display: inline-block;
}

button:hover,
.btn:hover {
	background: var.$theme-clr;
	color: #fff;
}

button.remove-item {
	background: url('../img/icon-close.svg') no-repeat right center;
	background-size: 15px;
	width: 30px !important;
	height: 32px !important;
	display: inline-block !important;
	padding: 10px !important;
	cursor: pointer;
}

button,
button a:hover {
	background: var.$theme-clr;
}

/* =================================
	 CONTAINERS
==================================== */
section {
	position: relative;
}

$container-padding: 1.25rem;
$container-padding-mobile: 1.25rem;

.container.images {
	max-width: 750px !important;
}

.container.images img {
	border: 1px #f2f2f2 solid;
}

.container {
	padding: 0 $container-padding;
	max-width: 1400px;
	margin: 0 auto;
	width: 100%;
	transition: all ease 0.5s;
}

.container.top {
	padding: 125px $container-padding 0;
}

.container.med {
	padding: 100px $container-padding 0;
}

.container.btm {
	padding: 0 $container-padding 125px;
}

.container.top.btm-sm {
	padding: 125px $container-padding 50px;
}

.container.top-med.btm-med {
	padding: 60px $container-padding 80px;
}

.container.top.btm-sm {
	padding: 125px $container-padding 50px;
}

.container.btm-sm {
	padding: 0 $container-padding 50px;
}

.container.top.btm {
	padding: 125px $container-padding;
}

.container.top-of-page {
	padding: 300px $container-padding 0;
}

.container.top-of-page.btm {
	padding: 300px $container-padding 100px;
}

@media (min-width: 1301px) {
	.container.top-of-page,
	.container.top-of-page.btm {
		padding: 300px $container-padding 0;
	}
}

@media (max-width: 1300px) {
	.container.top-of-page,
	.container.top-of-page.btm {
		padding: 22.5% $container-padding 0;
	}
}

@media (max-width: 800px) {
	.container.top-of-page,
	.container.top-of-page.btm {
		padding: 200px $container-padding 0;
	}
	.container.top {
		padding: 100px $container-padding 0;
	}

	.container.btm {
		padding: 0 $container-padding 100px;
	}

	.container.top.btm {
		padding: 100px $container-padding;
	}
}

@media (max-width: 500px) {
	.container.top-of-page,
	.container.top-of-page.btm {
		padding: 150px $container-padding 0;
	}
}

/* =================================
	 CURRENT SITES
==================================== */
#current-sites {
	padding: 100px 0 0;
}

#current-sites .container {
	padding: 0 $container-padding;
}

#current-sites .intro {
	max-width: 1400px;
	margin: 0 auto;
}

#current-sites #sites {
	max-width: 1400px;
	padding: 0 0.5rem;
	margin: 0 auto;
}

#current-sites .flex .filter p {
	margin-bottom: 1rem;
}

@media (max-width: 750px) {
	#current-sites #sites {
		max-width: 1400px;
		padding: 0 0.5rem;
		margin: 0 auto;
	}
}

@media (max-width: 400px) {
	#current-sites #sites {
		padding: 0 1.25rem;
	}
}

/* =================================
	 GREETING
==================================== */
.dot-flashing {
	position: relative;
	width: 10px;
	height: 10px;
	border-radius: 5px;
	margin-left: 15px;
	background-color: var.$dark;
	color: var.$dark;
	animation: dot-flashing 1s infinite linear alternate;
	animation-delay: 0.5s;
}
.dot-flashing::before,
.dot-flashing::after {
	content: '';
	display: inline-block;
	position: absolute;
	top: 0;
}
.dot-flashing::before {
	left: -15px;
	width: 10px;
	height: 10px;
	border-radius: 5px;
	background-color: var.$dark;
	color: var.$dark;
	animation: dot-flashing 1s infinite alternate;
	animation-delay: 0s;
}
.dot-flashing::after {
	left: 15px;
	width: 10px;
	height: 10px;
	border-radius: 5px;
	background-color: var.$dark;
	color: var.$dark;
	animation: dot-flashing 1s infinite alternate;
	animation-delay: 1s;
}

@keyframes dot-flashing {
	0% {
		background-color: var.$dark;
	}
	50%,
	100% {
		background-color: #dedede;
	}
}

/* =================================
	 MISC
==================================== */
.paragraph-bg {
	background: rgba(0, 0, 0, 0.1);
	padding: 1.5rem;
	border-radius: 5px;
}

@media (max-width: 750px) {
	.paragraph-bg {
		margin-top: 0.5rem;
	}
}

.slide-show {
	margin: 0 auto;
	border: 1px red dashed;
}

.grey-bg {
	background: #f9f9f9;
}

/* =================================
	 TOOLTIPS
==================================== */
.tooltip {
	position: relative;
	text-decoration-line: underline;
	text-decoration-style: dotted;
	text-underline-offset: 4px;
	text-decoration-color: var.$theme-clr;
	cursor: pointer;
}

.tooltip .tooltip-text {
	visibility: hidden;
	background: #fff;
	border: 1px #ccc solid;
	text-align: center;
	border-radius: 2px;
	position: absolute;
	z-index: 1;
	bottom: 125%;
	left: 0;
	margin-right: -50px;
	max-width: 150px;
	opacity: 0;
	transition: 0.3s;
	transform: translate3d(0px, 20px, 0px);
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.tooltip .tooltip-text::after {
	content: '';
	position: absolute;
	top: 100%;
	left: 50%;
	margin-left: -7px;
	border-width: 7px;
	border-style: solid;
	border-color: #ccc transparent transparent transparent;
}

.tooltip:hover .tooltip-text {
	visibility: visible;
	opacity: 1;
	transform: translate3d(0px, 0px, 0px);
}

/* =================================
	 NEWSPAPER COLUMNS
==================================== */
.columns-list {
	columns: 2 150px;
	column-gap: 2rem;
}

@media (max-width: 800px) {
	.columns-list {
		columns: 1 150px;
		column-gap: 0;
	}
}

.fun-fact {
	max-width: 50px;
}

/* =================================
	 INTRO
==================================== */
#home #intro h1 {
	margin-bottom: 2rem;
}

#intro p {
	font-size: min(max(2.2rem, 3vw), 26px);
}

.width {
	max-width: 800px;
}

.centred {
	text-align: center;
	max-width: 1000px;
	margin: 0 auto;
}

.spacing-btm {
	padding-bottom: 80px;
}

.video-bg {
	opacity: 0.5;
	mix-blend-mode: multiply;
}

@media (max-width: 800px) {
	.spacing-btm {
		padding-bottom: 50px;
	}
}

/* =====================
	 MISC
======================== */
.border-top {
	border-top: var.$dark 1px solid;
	padding-top: 1.5rem;
}

.border-top.sm {
	padding-top: 0;
}

.absolute {
	position: absolute;
	top: 30%;
	margin: 0 auto;
	left: 0;
	right: 0;
	max-width: 600px;
}

.fireworks {
	object-fit: cover;
	width: 100vw;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	z-index: -1;
}

p a {
	text-decoration: underline;
}

/* =================================
	 CURRENT SITES SORTING BUTTONS
==================================== */
#home #filter-sites ul {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin: 0 0 2rem 0;
}

#home #filter-sites ul li {
	display: inline-block;
}

#home #filter-sites ul button {
	background: var.$dark;
	line-height: 1;
	color: #fff !important;
	border-radius: 2px;
	margin-right: 1rem;
	padding: 0.6rem 1rem;
	cursor: pointer;
	font-size: 1.4rem;
	font-weight: bold;
	font-family: var.$theme-font;
	text-transform: uppercase;
	transition: all ease 0.5s;
}

#home #filter-sites ul button.active,
#home #filter-sites ul button:hover {
	background: var.$theme-clr;
}

@media (max-width: 400px) {
	#home #filter-sites ul button {
		margin-right: 0.5rem;
		padding: 0.6rem 0.75rem;
	}
}

/* =================================
	 RESUME
==================================== */
#resume {
	text-align: center;
	color: #fff;
	background: var.$theme-clr;
	padding: 0.2rem 1rem;
	border-radius: 2px;
	display: inline-block;
	margin-left: 0.25rem;
}

#resume:hover {
	background: var.$dark;
	color: #fff;
}

@keyframes fadeInOut {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

/* =============================================
	 FEATURES 
================================================ */
.features video {
	max-width: 450px;
}

@media (max-width: 1200px) {
	.features video {
		max-width: 350px;
	}
}

@media (max-width: 800px) {
	.features video {
		max-width: 300px;
	}
}

@media (max-width: 500px) {
	.features video {
		max-width: 250px;
	}
}

.features {
	display: flex;
	flex-wrap: nowrap;
	align-content: center;
	align-self: center;
}

.features > div.firstTween {
	min-width: 12.5vw;
}

.features > div {
	padding: 0 3vw;
}

.features h4 {
	font-size: min(max(1.2rem, 2.5vw), 32px);
	margin-top: 1rem;
	margin-bottom: 1.5rem;
	//opacity: 0;
}

/* =============================================
		HTMLs
================================================ */
#htmls-container .p-before-form {
	margin-bottom: 2rem;
}

#htmls-container .response p {
	line-height: 1.3;
	font-size: 1.2rem;
	font-weight: 600;
	text-transform: none;
}

#htmls #campaigns {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
	justify-content: space-between;
	grid-column-gap: 10%;
	margin-top: 4rem;
	max-width: 1000px;
}

#htmls #campaigns > div {
	text-align: center;
	margin-bottom: 3rem;
}

#htmls #campaigns > div input {
	cursor: pointer;
	height: 16px;
	width: 16px;
	top: 0;
	opacity: 0;
	z-index: 999999;
}

#htmls .email-container {
	max-width: 300px;
	width: 100%;
	display: inline-block;
	position: relative;
}

#htmls .email {
	max-width: 300px;
}

#htmls #campaigns img {
	width: 100%;
	margin-bottom: 1rem;
	border: 1px #ccc solid;
	border-radius: 2px;
}

#htmls form {
	margin: 2rem 0 0;
	padding: 0 0 2rem;
	max-width: 300px;
}

#htmls form {
	margin: 2rem 0 0;
	padding: 0 0 2rem;
	max-width: 300px;
}

@media (max-width: 1100px) {
	#htmls #campaigns > div .btn {
		width: 100%;
	}
}

@media (max-width: 800px) {
	#htmls #campaigns img {
		margin-bottom: 0.5rem;
	}
}

@media (max-width: 500px) {
	#htmls #campaigns {
		grid-template-columns: repeat(auto-fit, minmax(70px, 1fr));
		grid-column-gap: 1rem;
	}
}

/* =============================================
		VIDEOS
================================================ */
.responsive-iframe {
	max-width: 100%;
	padding-top: 56.25%;
	position: relative;
	width: 100%;
}

.responsive-iframe iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border: 0;
}

.video-container > div {
	border: 1px #ccc;
	border-radius: 3px;
}

@media (max-width: var.$tablet) {
	.responsive-iframe,
	.swiper.elink {
		margin-top: 2rem;
	}
}

/* =============================================
	NEW PAGE
================================================ */
#new .container.top.btm-sm {
	padding: 80px 1.25rem 70px;
}

#new .project {
	padding: 2rem 1.5rem 2rem;
	background: #f9f9f9;
	border-radius: 2px;
	border: 1rem #fff solid;
}

#new .project.border {
	padding: 2rem 1.75rem;
	background: #fff;
	border-radius: 3px;
	//border: 1px #ccc solid;
}

#new .plan-examples {
	margin: 0;
}

#new .plan-examples span {
	font-family: sans-serif;
	font-weight: normal;
}

#new .project#generate-user img {
	max-width: 150px;
	margin-bottom: 1rem;
}

#new #generate-user .btn:hover {
	background: var.$theme-clr !important;
}

#new #generate-user p {
	font-size: 1.2rem;
}

#new #sitemap {
	overflow: hidden;
}

@media (max-width: 500px) {
	#new .project-container {
		padding: 60px 0 50px;
	}
	#new .project-container .project {
		border: 0;
		padding: 2rem 2.5rem 2rem;
	}
	#new .project#generate-user {
		margin-top: 1.5rem;
	}
}

/* =============================================
	BORDERS
================================================ */
.marker {
	width: 20px;
}

.border-container {
	padding: 0 2.25rem;
	max-width: 1390px;
}

.borders {
	border: 1px #ccc solid;
	border-radius: 3px;
	padding: 2.5rem 1%;
}

.borders.light {
	border: 1px #f2f2f2 solid;
}

@media (max-width: 500px) {
	.border-container {
		padding: 0;
	}
	.borders {
		border-top: 1px #ccc solid;
		border-left: 0;
		border-right: 0;
		border-bottom: 1px #ccc solid;
		border-radius: 0;
		padding: 2.5rem 1.25rem 1.25rem;
	}
}

/* =============================================
	LINES
================================================ */

.line-vert {
	height: 100px;
	width: 3px;
	margin: 0 auto;
	max-width: 3px;
	background: repeating-linear-gradient(90deg, #fff, #ccc 1.5px, #fff 0, #fff 100%);
	max-width: 800px;
}

.line-vert.left {
	margin-left: 40%;
}

.line-vert.right {
	margin-right: 40%;
}

.line-btm {
	max-width: 1350px;
	margin: 0 auto;
	padding: 0 1.25rem;
}

.line-btm > div {
	border-bottom: 1px #ccc solid;
}

/* =============================================
		ABOUT
================================================ */
#about #about-intro {
	text-align: center;
	padding-bottom: 100px;
}

@media (max-width: 750px) {
	#about .swiper.elink {
		margin-top: 1rem;
	}
}
