@use 'variables.scss' as var;

/* =============================================
   HEADER
================================================ */
header {
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	margin: 0 auto;
	padding: 0;
	text-align: center;
	width: 100%;
	z-index: 999999999;
	opacity: 1;
	//box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
	//backdrop-filter: blur(10px);
}

#home .curve {
	display: none;
}

.curve {
	position: absolute;
	margin-top: -15%;
	left: 0;
	right: 0;
	width: 100%;
	overflow: hidden;
	line-height: 0;
	transition: 0.5s all ease;
}

@media (max-width: 1400px) {
	.curve {
		margin-top: -10%;
	}
}

.curve svg {
	position: relative;
	display: block;
	width: 100%;
}

#home .curve {
	display: none;
}

#about .curve path {
	fill: rgb(244, 229, 242);
}

#contact .curve path {
	fill: rgb(230, 235, 247);
}

@media (max-width: 600px) {
	header {
		padding: 0;
	}
}

/* =============================================
   HEADROOM
================================================ */
.headroom {
	will-change: transform;
	//transition: transform 1s linear;
}

.header--hidden {
	transform: translateY(0%);
}

.headroom--pinned {
	transform: translateY(0%);
	transition: all ease-out 0.5s;
}
.headroom--unpinned {
	transform: translateY(-110%);
	transition: all ease-out 0.5s;
}

html #header.headroom.headroom--top.headroom--not-bottom,
html.dark #header.header.headroom.headroom--not-bottom.headroom--pinned.headroom--top,
html.light #header.header.headroom.headroom--not-bottom.headroom--pinned.headroom--top {
	background: none;
	//transition: 1s ease all;
}

#header.headroom--not-bottom.headroom--not-top .nav-links,
#header.headroom--not-bottom.headroom--not-top.headroom--pinned .nav-links,
#header.headroom--not-top.headroom--bottom .nav-links {
	transition: 0.5s ease all;
	gap: 1rem;
	margin-top: -25px;
}

#header.headroom.headroom--not-top.headroom--not-bottom .nav-links li a,
#header.headroom.headroom--not-bottom.headroom--not-top.headroom--pinned .nav-links li a {
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
	transition: all ease-in-out 0.5s;
}

#header.headroom.headroom--not-top.headroom--not-bottom .controls,
#header.headroom.headroom--not-bottom.headroom--not-top.headroom--pinned .controls {
	top: -8rem;
}

#header.headroom.headroom--not-bottom.headroom--not-top .nav-links li a {
	backdrop-filter: blur(15px);
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
	transition: all ease-in-out 0.5s;
}

#header.headroom--not-bottom.headroom--not-top .nav-links li a,
#header.headroom--not-bottom.headroom--not-top.headroom--pinned .nav-links li a,
#header.headroom--not-top.headroom--bottom .nav-links li a {
	font-size: 1.5rem;
	padding: 2rem 1rem 0.6rem;
	background: #fff;
	background-size: auto 3%;
	color: var.$dark;
	font-weight: 700;
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px;
	border: 1px #ccc solid;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
	transition: all ease-out 0.3s;
}

@media (max-width: 600px) {
	#header.headroom--not-bottom.headroom--not-top .nav-links li a,
	#header.headroom--not-bottom.headroom--not-top.headroom--pinned .nav-links li a,
	#header.headroom--not-top.headroom--bottom .nav-links li a {
		font-size: 1.25rem;
		padding: 2rem 0.5rem 0.85rem;
		background: #fff;
		background-size: auto 3%;
		color: var.$dark;
		font-weight: 700;
		border-bottom-right-radius: 3px;
		border-bottom-left-radius: 3px;
		border: 1px #ccc solid;
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
		transition: all ease-out 0.3s;
	}
	.nav-links li a span {
		display: none;
	}
}

#header.headroom--not-bottom.headroom--not-top .nav-links li a.active,
#header.headroom--not-bottom.headroom--not-top.headroom--pinned .nav-links li a.active,
#header.headroom--not-top.headroom--bottom .nav-links li a.active,
#header.headroom--not-bottom.headroom--not-top .nav-links li a:hover,
#header.headroom--not-bottom.headroom--not-top.headroom--pinned .nav-links li a:hover,
#header.headroom--not-top.headroom--bottom .nav-links li a:hover {
	background: var.$theme-clr;
	background-size: auto 3%;
	color: #fff;
	font-weight: 700;
	border: 1px var.$theme-clr solid;
	transition: all ease-out 0.3s;
}

#header.headroom--not-bottom.headroom--not-top .nav-links li a.active span,
#header.headroom--not-bottom.headroom--not-top.headroom--pinned .nav-links li a.active span,
#header.headroom--not-top.headroom--bottom .nav-links li a.active span,
#header.headroom--not-bottom.headroom--not-top .nav-links li a:hover span,
#header.headroom--not-bottom.headroom--not-top.headroom--pinned .nav-links li a:hover span,
#header.headroom--not-top.headroom--bottom .nav-links li a:hover span {
	color: #fff;
}

#header.headroom--not-bottom.headroom--not-top .nav-links li a span {
	letter-spacing: 1px;
	margin-bottom: 3px;
	display: block;
	font-size: 30%;
}

#header.headroom--not-bottom.headroom--not-top.headroom--pinned .nav-links li a span,
#header.headroom--not-top.headroom--bottom .nav-links li a span {
	letter-spacing: 1px;
	margin-bottom: 3px;
	display: block;
	font-size: 50%;
}

/* =======================
   SKIP NAV
========================== */
a.skip-navigation {
	left: -999px;
	position: absolute;
	top: auto;
	width: 1px;
	height: 1px;
	overflow: hidden;
	z-index: -999;
}
a.skip-navigation:focus,
a.skip-navigation:active {
	color: #fff;
	background-color: #000;
	left: auto;
	top: auto;
	width: 30%;
	height: auto;
	overflow: auto;
	margin: 10px 35%;
	padding: 5px;
	border-radius: 15px;
	border: 4px solid yellow;
	text-align: center;
	font-size: 1.2em;
	z-index: 999;
}
