@use 'variables.scss' as var;

/* =================================
   NAV DESKTOP
==================================== */

nav {
	max-width: 1400px;
	margin: 0 auto;
	padding: 0 1.25rem;
	text-align: center;
	position: relative;
	z-index: 99999999;
}

.nav-links {
	text-align: center;
	display: flex;
	justify-content: space-between;
	width: 100%;
}

.nav-links li {
	text-align: center;
}

.nav-links li a {
	font-family: 'SteelfishRegular';
	font-size: min(max(2rem, 6vw), 100px);
	color: var.$font-clr;
	display: inline-block;
	text-align: center;
	padding: 3.5rem 0 0.75rem;
	text-decoration: none;
	font-weight: bold;
	text-transform: uppercase;
	line-height: 1;
	letter-spacing: 2px;
	mix-blend-mode: difference !important;
	// background: url('../fonts/underline-theme-clr.svg') no-repeat center bottom;
	// background-size: auto 3%;
	background-position: top -50% center;
	//transition: all ease 1.5s;
	//border: 1px red solid;
}

.nav-links li a span {
	font-size: 30%;
	display: block;
	letter-spacing: 1px;
	color: #98999e;
}

.nav-links li a.active,
.nav-links li a:hover {
	color: var.$theme-clr;
	font-weight: bold;
	transition: all ease 0.5s;
	background: url('../fonts/underline-theme-clr.svg') no-repeat center bottom;
	background-size: auto 3%;
}

@media (max-width: 800px) {
	.nav-links li a {
		padding: 1rem 0 0.75rem;
	}
}

@keyframes fadeInBlur {
	0% {
		transform: translateX(-50%);
		visibility: visible;
		opacity: 1;
		filter: blur(20px);
	}

	100% {
		transform: translateX(0);
		opacity: 1;
		filter: blur(0px);
	}
}

.fadeInBlur {
	animation-name: fadeInBlur;
	transition: 5s ease-out all;
}

// /* =============================================
//    NAV MOBILE TOGGLE
// ================================================ */
// .toggle {
// 	z-index: 1000000000000000000000000;
// 	cursor: pointer;
// 	position: relative;
// 	font-family: var.$font-serif;
// 	font-style: italic;
// 	transition: 1s;
// 	font-size: 1.25rem;
// 	width: 90px;
// 	height: 55px;
// 	position: fixed;
// 	padding-top: 0.3rem;
// 	right: 0;
// 	top: 0;

// 	&__wrapper {
// 		cursor: pointer;
// 		position: relative;
// 		width: 100%;
// 		height: 100%;
// 		background-color: transparent;
// 		transition: 500ms;
// 		margin-top: 1px;
// 		display: none;
// 	}

// 	&-bar {
// 		width: 100%;
// 		height: 6px;
// 		position: absolute;
// 		transition: background-color 1s 700ms ease, transform 600ms ease;
// 		transform-origin: center;

// 		&::before,
// 		&::after {
// 			position: absolute;
// 			display: inline-block;
// 			content: '';
// 			background-color: #000;
// 			width: 50%;
// 			height: 6px;
// 			transition: background-color 1s 700ms, transform 400ms;
// 			transition-timing-function: cubic-bezier(0, -0.5, 0.1, 2);
// 			z-index: 100;
// 		}
// 		&::after {
// 			right: 0;
// 			transform-origin: left;
// 		}
// 		&::before {
// 			transform-origin: right;
// 		}
// 	}

// 	.second-bar::before {
// 		transform-origin: center;
// 	}

// 	.second-bar::after {
// 		transform-origin: center;
// 	}

// 	span {
// 		transition: 600ms;
// 		color: #000;
// 		transition: right 500ms 200ms ease, color 1s 700ms ease, opacity 500ms 300ms ease, visibility 500ms 300ms ease;
// 		display: none;
// 		padding: 0.25rem 1.25rem;

// 		&:first-child,
// 		&:nth-child(2) {
// 			position: absolute;
// 		}

// 		&:first-child {
// 			right: 0px;
// 			opacity: 1;
// 		}

// 		&:nth-child(2) {
// 			right: -90px;
// 			opacity: 0;
// 			visibility: hidden;
// 		}
// 	}
// }

// /* =============================================
//    NAV MOBILE OVERLAY
// ================================================ */
// .overlay {
// 	position: fixed;
// 	width: 100%;
// 	left: 0;
// 	right: 0;
// 	top: 0;
// 	z-index: 10;
// }
// .overlay__container {
// 	width: 100%;
// 	height: 100vh;
// 	display: flex;
// 	justify-content: flex-start;
// 	flex-direction: column;
// 	align-items: center;
// 	margin-top: 120px;
// }

// /** Overlay states */
// .overlay--state {
// 	visibility: hidden;
// 	opacity: 0;
// 	transition: 1s;
// }

// .overlay.is-opened {
// 	visibility: visible;
// 	opacity: 1;
// }

// /* =============================================
//    NAV MOBILE MENU
// ================================================ */
// .nav__menu {
// 	padding: 0;
// 	margin: 0;
// 	list-style: none;
// 	text-align: center;
// }
// .nav__link {
// 	display: block;
// 	text-align: center;
// 	text-decoration: none;
// 	padding: 0.5rem 0;
// 	color: #fff;
// 	text-transform: uppercase;
// 	transition: 1s;
// }

// .nav__link#selected,
// .nav__link:hover,
// .nav__item:hover {
// 	color: var.$theme-clr;
// }

// .nav__item {
// 	text-align: center;
// 	font-size: 1.1rem;
// 	text-transform: uppercase;
// 	line-height: 1;
// }

// .nav__item a {
// 	padding: 0.6rem 1rem;
// }

// .nav__item .scroll {
// 	background: var.$theme-clr;
// 	line-height: 1;
// 	padding: 0.75rem 1rem 1rem;
// 	display: inline-block;
// 	border-radius: 3px;
// 	margin-top: 1rem;
// }

// .nav-sec a {
// 	padding: 0.25rem;
// }

// /* =============================================
//     NAV MOBILE MENU
// ================================================ */
// #header.header--white a {
// 	color: #fff;
// }
// #header.header--white span {
// 	color: #fff;
// }
// #header.header--white .toggle-bar::before,
// #header.header--white .toggle-bar::after {
// 	background-color: #fff;
// }

// .position-absolute {
// 	position: absolute;
// }

// #toggle span {
// 	display: block;
// }

// .nav__link {
// 	padding: 0 1.5rem;
// }
// .nav-sec {
// 	margin-top: 1.5rem;
// }
// .nav-sec .nav__item {
// 	display: inline-block;
// }
// .nav-sec .nav__item img {
// 	width: 18px;
// }
