@use 'variables.scss' as var;

/* =================================
   NAV DESKTOP
==================================== */

nav {
	max-width: 1400px;
	margin: 0 auto;
	//padding: 0 3%;
	text-align: center;
	position: relative;
	z-index: 99999999;
}

.nav-links {
	display: flex;
	justify-content: space-between;
	width: 100%;
	transition: all ease 0.3s;
}

.nav-links li {
	text-align: center;
}

.nav-links li a {
	font-family: 'SteelfishRegular';
	font-size: min(max(1.5rem, 5vw), 90px);
	color: var.$font-clr;
	display: inline-block;
	text-align: center;
	border: 1px solid transparent;
	padding: 2.5rem 0 0.75rem;
	text-decoration: none;
	font-weight: bold;
	text-transform: uppercase;
	line-height: 1;
	letter-spacing: 2px;
	mix-blend-mode: difference !important;
	background-position: top -50% center;
	transition: all ease 0.3s;
}

.nav-links li a span {
	font-size: 30%;
	display: block;
	letter-spacing: 1px;
	margin-bottom: 3px;
	color: rgba(0, 0, 0, 0.5);
}

.nav-links li a.active,
.nav-links li a:hover {
	color: var.$theme-clr;
	font-weight: bold;
	transition: all ease 0.3s;
	background: url('../fonts/underline-theme-clr.svg') no-repeat center bottom;
	background-size: auto 3%;
}

@media (max-width: 700px) {
	.nav-links li a {
		padding: 1rem 0 0.75rem;
		//border: 1px red solid;
	}
}

@keyframes fadeInBlur {
	0% {
		transform: translateX(-50%);
		visibility: visible;
		opacity: 1;
		filter: blur(20px);
	}

	100% {
		transform: translateX(0);
		opacity: 1;
		filter: blur(0px);
	}
}

.fadeInBlur {
	animation-name: fadeInBlur;
	transition: 5s ease-out all;
}
