@use 'variables.scss' as var;

/* =============================================
   PAGE BACKGROUND LIGHT/DARK
================================================ */
html {
	scroll-behavior: smooth;
}

html.dark {
	background: var.$dark;
}

html.dark #header {
	transition: 1s ease all;
}

html #header {
	//background: rgba(255, 255, 255, 0.5);
	transition: 1s ease all;
	//backdrop-filter: blur(10px);
}

html body {
	background: var.$light;
}

html.dark body {
	background: var.$dark !important;
}

html.dark .curve path,
html.dark #about .curve path,
html.dark #contact .curve path {
	fill: rgb(24, 22, 22);
}

html.dark #contact #form input,
html.dark #contact #form textarea {
	border: 1px solid #999;
	background: rgba(0, 0, 0, 0.5);
}

html.dark #home #campaigns form input::placeholder,
html.dark #home #campaigns form input:focus,
html.dark #form input:focus,
html.dark #form input[type='text'],
html.dark #form input::placeholder,
html.dark #contact #form textarea::placeholder {
	color: #fff !important;
	-webkit-text-fill-color: #fff !important;
}

html.dark #contact #form .btn {
	background: var.$theme-clr;
}

html.dark #home #campaigns form input {
	border: 1px #999 solid;
}

html.dark #htmls #campaigns img {
	border: none;
}

html.dark #home #campaigns form .btn {
	background: var.$theme-clr;
	border: none;
}

html.dark .nav-links li a {
	color: #fff;
}

html.dark .nav-links li a span {
	color: #b6b6b6 !important;
}

html.dark .nav-links li a.active,
html.dark .nav-links li a:hover {
	color: var.$theme-clr;
}

html.dark a {
	color: #fff;
}

html.dark a:hover {
	color: var.$theme-clr;
}

html.dark .nav-links li a.active,
html.dark .nav-links li a:hover,
html.dark .work-thumbs h2,
html.dark #new .filter input {
	color: #fff;
}

html.dark p {
	color: var.$font-clr-dark;
}

html.dark #new .project .btn,
html.dark #new .project .btn-clear {
	background: var.$theme-clr !important;
	border: 0;
}

html .nav-links li a.active,
html .nav-links li a:hover {
	color: var.$dark;
}

html.dark h1,
html.dark h2,
html.dark h3,
html.dark h4,
html.dark h5,
html.dark h6 {
	color: #fff;
}

html.dark #home .work-thumbs,
html.dark .grid.work {
	background: rgba(000, 000, 000, 0.6);
}

html.dark .line-btm {
	border-bottom: 1px #555 solid;
}

html.dark .borders {
	border: none;
}

html.dark .line-vert {
	background: repeating-linear-gradient(90deg, var.$dark, var.$dark 1.5px, var.$dark 0, var.$dark);
}

html.dark .flex .flex .swiper-pagination-bullet {
	background: #ababab;
}

html.dark .flex .flex .swiper-pagination-bullet-active {
	background: #ff9000;
}

html.dark #grid-work-container {
	max-width: 1424px;
}

html.dark .container.images img,
html.dark #home .image {
	border: none;
}

html.dark #about p,
html.dark .site h2 {
	color: #fff !important;
}

html.dark #new .project {
	background: rgba(000, 000, 000, 0.5);
	border: none;
	padding: 2rem 1.75rem;
}

html.dark #new .project:first-child {
	border-left: #3a3a42 solid 1rem;
	border-right: #3a3a42 solid 0.5rem;
}

html.dark #new .project:last-child {
	border-left: #3a3a42 solid 0.5rem;
	border-left: #3a3a42 solid 1rem;
}

@media (max-width: 750px) {
	html.dark #new .project:first-child {
		border-right: #3a3a42 solid 1rem;
		border-bottom: #3a3a42 solid 1.5rem;
	}

	html.dark #new .project:last-child {
		border-left: #3a3a42 solid 1rem;
		border-right: #3a3a42 solid 1rem;
	}
}

html.dark .site {
	background: rgba(000, 000, 000, 0.5);
}

html.dark #about #mining .swiper-slide,
html.dark #new #floorplans,
html.dark #home #featured-site .container,
html.dark #about .flex:not(.not-dark),
html.dark .grey-bg {
	background: rgba(000, 000, 000, 0.5);
}

html.dark #home #featured-site .container,
html.dark #about #slideshow-container .swiper-slide {
	border: none;
}

html.dark #new .project .btm {
	background: var.$theme-clr;
	border: 1px solid #888;
	border-radius: 3px;
	padding: 2rem 1.75rem;
}

html.dark #new #floorplans .residence-plans .details h3,
html.dark #new #floorplans .residence-plans .details h4,
html.dark #new #floorplans .residence-plans .details h5,
html.dark #new #floorplans .residence-plans .details a,
html.dark #new #floorplans .residence-plans .details .divider {
	color: #fff;
}

html.dark #new .residence-plans img {
	filter: invert(1);
}

html.dark ul,
html.dark #new #floorplans h3 {
	color: #fff;
}

html.dark #graveyard .graveyard .cell img {
	border: 1px solid #555;
}

html html.dark #header.headroom--not-bottom.headroom--not-top .nav-links li a {
	background: #26262d;
	color: #fff;
	border: 1px solid #555;
}

/* =============================================
   THEME TOGGLE
================================================ */
.controls {
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	right: 1rem;
	top: 0.5rem;
	z-index: 9999999999;
	transition: 1s ease all;
}

#themeToggle {
	height: 25px;
	width: 25px;
	cursor: pointer;
	background: none;
	padding: 0;
	display: block;
	margin: 0;
}

.github {
	width: 20px;
}

.linkedin {
	width: 20px;
	margin-left: 1rem;
	margin-right: 0.75rem;
}

.sun {
	fill: var.$theme-clr;
	width: 20px;
}
.moon {
	fill: transparent;
}

:global(.dark) .sun {
	fill: transparent;
}
:global(.dark) .moon {
	fill: white;
}
:global(.dark) {
	color-scheme: dark;
}

@media (max-width: 800px) {
	.controls {
		position: absolute;
		left: auto;
		top: 85px;
	}
}
