---
import Layout from '../layouts/Layout.astro';
import '../styles/form.scss';
---

<Layout pageTitle="Contact" pageSiteTitles="">
	<section>
		<div class="container top-of-page">
			<div class="flex padding-x">
				<div class="cell small-18">
					<h1>Contact Me</h1>
					<div id="intro">
						<p class="justify width">To send a message, please fill out and submit the form below.</p>

						<br />

						<form method="POST" id="form">
							<input type="hidden" name="access_key" value="3d4e1ccc-77f5-4fa8-860c-81854fd38d03" />
							<input type="hidden" name="subject" value="Submission from jmckean44.netlify.com" />
							<input type="checkbox" name="botcheck" class="hidden" style="display: none;" />

							<div>
								<label for="fname" class="visuallyHidden">First Name</label>
								<input type="text" name="name" id="first_name" placeholder="Name" required="" />
								<span class="helperText">Name</span>
							</div>

							<div>
								<label for="email" class="visuallyHidden">Email</label>
								<input type="email" name="email" id="email" placeholder="Email *" required />
								<span class="helperText">Email</span>
							</div>
							<div>
								<label for="message" class="visuallyHidden">Comments</label>
								<textarea rows="10" name="message" id="message" placeholder="Comments"></textarea>
								<span class="helperText">Comments</span>
							</div>

							<div class="h-captcha" data-theme="dark" data-captcha="true"></div>
							<div>
								<div>
									<div id="result"></div>
									<button type="submit" class="button btn"> SUBMIT </button>
								</div>
							</div>
						</form>

						<script is:inline>
							const formCaptcha = document.getElementById('form');

							formCaptcha.addEventListener('submit', function (e) {
								const hCaptcha = formCaptcha.querySelector('textarea[name=h-captcha-response]').value;

								if (!hCaptcha) {
									e.preventDefault();
									alert('Please fill out captcha field');
									return;
								}
							});
						</script>
						<script is:inline src="https://web3forms.com/client/script.js" async defer></script>
					</div>
				</div>
			</div>
		</div>
	</section>
</Layout>
