---
import RegisterForm from '../components/Form';
import Layout from '../layouts/Layout.astro';
---

<Layout pageTitle="Contact" pageSiteTitles="">
	<section>
		<div class="container top-of-page">
			<div class="flex padding-x align-middle">
				<div class="cell small-18">
					<!-- <RegisterForm /> -->
				</div>
			</div>
		</div>
	</section>
</Layout>
