---
import Layout from '../layouts/Layout.astro';
import RegisterForm from '../components/Form.jsx';

const title = '';
---

<Layout {title}>
	<section id="register">
		<div class="container top btm">
			<div id="form-container">
				<!-- <form id="mc-embedded-subscribe-form">
					<div>
						<label for="firstName" class="visuallyhidden"> First Name </label>
						<input type="text" id="firstName" placeholder="First Name" name="firstName" />
					</div>

					<div>
						<label for="lastName" class="visuallyhidden"> Last Name </label>
						<input type="text" id="lastName" placeholder="Last Name *" name="lasttName" />
					</div>

					<div>
						<label for="email" class="visuallyhidden"> Email </label>
						<input type="email" id="email" placeholder="Email *" name="email" />
					</div>

					<div>
						<label for="phone" class="visuallyhidden"> Phone </label>
						<input type="tel" id="phone" placeholder="Phone" name="phone" />
					</div>

					<div>
						<select name="hear" class="select">
							<option value="">How did you hear about us?</option>
							<option value="Billboard">Billboard</option>
							<option value="Signage">Signage</option>
							<option value="Social Media">Social Media</option>
							<option value="Google">Google</option>
							<option value="Word of Mouth">Word of Mouth</option>
						</select>
					</div>

					<div class="radio-inputs">
						<p>Are You A Broker?</p>
						<label class="label" for="broker">
							<input name="broker" class="radio-input" type="radio" value="Yes" />
							YES
						</label>
						<label class="label" for="broker">
							<input name="broker" class="radio-input" type="radio" value="No" />
							NO
						</label>
					</div>

					<div>
						<label for="comments" class="visuallyhidden"> Comments </label>
						<textarea rows="5" id="comments" placeholder="Comments" name="comments"></textarea>
						<span class="helperText">Comments</span>
					</div>

					<div class="submit-button">
						<button type="submit" class="button">submit</button>
					</div>
				</form>

				<script>
					document.querySelector('#mc-embedded-subscribe-form').addEventListener('submit', function (e) {
						e.preventDefault();
					});
				</script> -->

				<RegisterForm client:visible />
			</div>
		</div>
	</section>
</Layout>
