---
import Layout from '../layouts/Layout.astro';
import '../styles/spinner.css';
import { Image } from 'astro:assets';
//import { getImage } from 'astro:assets';
//import { Picture } from 'astro:assets';
import flixx from '../img/flixx.webp';
---

<Layout pageTitle="Learning Curve" pageSiteTitles="">
	<div class="curve">
		<svg width="100%" height="100%" id="svg" viewBox="0 0 1440 590" xmlns="http://www.w3.org/2000/svg" class="transition duration-300 ease-in-out delay-150">
			<style>
				.path-0 {
					animation: pathAnim-0 50s;
					animation-timing-function: linear;
					animation-iteration-count: infinite;
				}
				@keyframes pathAnim-0 {
					0% {
						d: path(
							'M 0,600 L 0,225 C 141.07142857142856,168.78571428571428 282.1428571428571,112.57142857142857 399,115 C 515.8571428571429,117.42857142857143 608.5,178.5 729,199 C 849.5,219.5 997.8571428571427,199.42857142857142 1121,197 C 1244.1428571428573,194.57142857142858 1342.0714285714287,209.78571428571428 1440,225 L 1440,600 L 0,600 Z'
						);
					}
					25% {
						d: path(
							'M 0,600 L 0,225 C 115.10714285714289,265.5 230.21428571428578,306 371,310 C 511.7857142857142,314 678.2499999999998,281.5 780,251 C 881.7500000000002,220.5 918.7857142857144,192 1018,188 C 1117.2142857142856,184 1278.6071428571427,204.5 1440,225 L 1440,600 L 0,600 Z'
						);
					}
					50% {
						d: path(
							'M 0,600 L 0,225 C 124.78571428571428,236.78571428571428 249.57142857142856,248.57142857142858 383,237 C 516.4285714285714,225.42857142857142 658.4999999999999,190.49999999999997 777,204 C 895.5000000000001,217.50000000000003 990.4285714285716,279.42857142857144 1097,291 C 1203.5714285714284,302.57142857142856 1321.7857142857142,263.7857142857143 1440,225 L 1440,600 L 0,600 Z'
						);
					}
					75% {
						d: path(
							'M 0,600 L 0,225 C 126.53571428571428,275.17857142857144 253.07142857142856,325.35714285714283 354,292 C 454.92857142857144,258.64285714285717 530.25,141.75 665,115 C 799.75,88.24999999999999 993.9285714285716,151.64285714285714 1133,185 C 1272.0714285714284,218.35714285714286 1356.0357142857142,221.67857142857144 1440,225 L 1440,600 L 0,600 Z'
						);
					}
					100% {
						d: path(
							'M 0,600 L 0,225 C 141.07142857142856,168.78571428571428 282.1428571428571,112.57142857142857 399,115 C 515.8571428571429,117.42857142857143 608.5,178.5 729,199 C 849.5,219.5 997.8571428571427,199.42857142857142 1121,197 C 1244.1428571428573,194.57142857142858 1342.0714285714287,209.78571428571428 1440,225 L 1440,600 L 0,600 Z'
						);
					}
				}
			</style><path
				d="M 0,600 L 0,225 C 141.07142857142856,168.78571428571428 282.1428571428571,112.57142857142857 399,115 C 515.8571428571429,117.42857142857143 608.5,178.5 729,199 C 849.5,219.5 997.8571428571427,199.42857142857142 1121,197 C 1244.1428571428573,194.57142857142858 1342.0714285714287,209.78571428571428 1440,225 L 1440,600 L 0,600 Z"
				stroke="none"
				stroke-width="0"
				fill="#f9f9f9"
				fill-opacity="1"
				class="transition-all duration-300 ease-in-out delay-150 path-0"
				transform="rotate(-180 720 300)"></path></svg
		>
	</div>

	<section>
		<div class="container top-of-page">
			<div class="flex padding-x">
				<div class="cell small-18">
					<div class="flex padding-x" id="intro">
						<div class="cell small-18">
							<h1>New and Improved</h1>
							<p class="width justify">
								The projects below were created using vanilla JavaScript as part of a 37 hour <a
									href="https://www.traversymedia.com/modern-javascript-2-0"
									role="link"
									aria-label="traversymedia.com/modern-javascript-2-0"
									target="_blank"
									class="underline">JavaScript</a
								> course to continue to improve on my Javascript skills.
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section>
		<div class="container top flixx">
			<div class="flex padding-x">
				<div class="cell small-18 medium-9">
					<h2 class="border-top">Flixx Movie Search</h2>
					<p>
						This movie info application fetches data from the <a target="_blank" href="https://www.themoviedb.org/movie" class="underline">TMDB</a> API and uses the open source mobile touch slider, <a
							target="_blank"
							href="https://swiperjs.com/"
							class="underline"
							role="link"
							aria-label="offsite link to swiperjs.com">Swiper</a
						>.
					</p>
					<p>It features a "Now Playing" movie carousel, displays the most popular movies and TV shows along with their respective details pages, and includes a search function with pagination.</p>
					<p><a class="btn" href="https://flixx-mdb.netlify.app" role="link" aria-label="offsite link to flixx app" target="_blank">Flixx App</a></p>
				</div>
				<div class="cell small-18 medium-9">
					<a href="https://flixx-mdb.netlify.app" target="_blank" role="link" aria-label="offsite link to flixx app"><Image src={flixx} alt="Flixx Movie Search" /></a>
				</div>
			</div>
		</div>
	</section>

	<section>
		<div class="container top btm project-container">
			<div class="flex padding-x">
				<div class="cell small-18 medium-9 large-9 project">
					<h3>Shopping List</h3>
					<p>Add, delete, and filter through your list of shopping to-do's.</p>
					<form id="item-form">
						<div class="form-control">
							<input type="text" class="form-input" id="item-input" name="item" placeholder="Enter Item" />
						</div>
						<div class="form-control">
							<button type="submit" class="btn">
								<i class="fa-solid fa-plus"></i> Add Item
							</button>
						</div>
					</form>
					<script src="../scripts/shopping-cart.js"></script>

					<div class="filter">
						<input type="text" class="form-input-filter" id="filter" placeholder="Filter Items" />
					</div>

					<ul id="item-list" class="items"></ul>

					<button id="clear" class="btn-clear">CLEAR ALL</button>
				</div>
				<div class="cell small-18 medium-9 large-9 project" id="generate-user">
					<h3>Random User Generator</h3>
					<div id="user"></div>
					<button id="generate" class="btn">
						<div class="spinner hidden"></div>
						Generate User
					</button>
					<script src="../scripts/generate-user.js"></script>
				</div>
			</div>
		</div>
	</section>

	<style>
		#sitemap {
			background: rgb(2, 30, 66);
			max-width: 100%;
			padding-bottom: 0;
			margin-top: 50px;
		}

		#sitemap > div {
			max-width: 1500px;
			margin: 0 auto;
		}
		.edit-mode {
			color: #ccc;
		}

		/* Form & Input */
		.form-input {
			width: 100%;
			font-size: 18px;
			margin-bottom: 0.5rem;
			padding: 0.75rem 0.75rem 0.65rem;
			border: 1px solid #ccc;
			border-radius: 3px;
			line-height: 1;
			outline: none;
			max-width: 300px;
		}

		.form-input-filter {
			margin-top: 20px;
			width: 100%;
			font-size: 18px;
			margin-bottom: 20px;
			padding: 10px 0 5px;
			border: none;
			border-bottom: 1px solid #ccc;
			background: transparent;
			outline: none;
		}

		.item-list {
			margin: 0 !important;
		}

		.btn-clear {
			margin-top: 3rem;
			font-size: 1.2rem;
			background: #3a3a42;
			color: #fff;
			border: none;
			border-radius: 3px;
			padding: 0.5rem 0.75rem;
			display: inline-block;
			cursor: pointer;
		}

		.btn-clear:hover {
			background: #ff9000;
			color: #fff;
		}

		/* Items */
		.items {
			margin: 2rem 0 0 0;
		}

		.items li {
			display: flex;
			justify-content: space-between;
			width: 45%;
			border: 1px solid #ccc;
			border-radius: 5px;
			padding: 10px 15px;
			margin: 0 5px 20px;
			font-weight: 700;
			cursor: pointer;
		}

		.flixx .btn {
			margin-top: 1rem;
			margin-bottom: 2rem;
		}

		@media (max-width: 500px) {
			.items li {
				width: 100%;
			}
		}
	</style>
</Layout>
