---
const pathname = new URL(Astro.request.url).pathname;
const currentPath = pathname.slice(1); // remove first "/"
const currentYear = new Date().getFullYear();
---

<footer>
	<div class="container">
		<nav>
			<ul class="nav-links">
				<li>
					<a class={['/', 'new', 'about', 'contact'].includes(currentPath) ? '/' : 'active'} href="/"><span>Current</span>Work</a>
				</li>
				<li>
					<a class={currentPath === 'new' ? 'active' : ''} href="/new"><span>Learning</span>Curve</a>
				</li>
				<li>
					<a class={currentPath === 'about' ? 'active' : ''} href="/about"><span>A Brief</span>Story</a>
				</li>
				<li>
					<a class={currentPath === 'contact' ? 'active' : ''} href="/contact"><span>Send a</span>MSG</a>
				</li>
			</ul>
			<div id="copyright">
				<p>© {currentYear}</p>
			</div>
		</nav>
	</div>

	<script src="../scripts/scripts.js"></script>
	<script src="../scripts/headroom.js"></script>
	<script src="../scripts/lenis.js"></script>

	<script is:inline src="/wow.js"></script>
	<script is:inline>
		document.addEventListener('DOMContentLoaded', function () {
			var wow = new WOW({
				boxClass: 'wow',
				animateClass: 'animated',
				offset: 100,
				mobile: true,
				live: true,
			});
			wow.init();
		});
	</script>
</footer>
