---
const pathname = new URL(Astro.request.url).pathname;
const currentPath = pathname.slice(1); // remove first "/"
import ThemeIcon from '../components/ThemeIcon.astro';
const { bodyId } = Astro.props;
---

<ThemeIcon />
<div class="container">
	<nav>
		<ul class="nav-links">
			<li>
				<a class={['/', 'new', 'about', 'contact'].includes(currentPath) ? '/' : 'active'} href="/"><span>Current</span>Work</a>
			</li>
			<li>
				<a class={currentPath === 'about' ? 'active' : ''} href="/about"><span>Other</span>Roles</a>
			</li>
			<li>
				<a class={currentPath === 'new' ? 'active' : ''} href="/new"><span>Learning</span>Curve</a>
			</li>
			<li>
				<a class={currentPath === 'contact' ? 'active' : ''} href="/contact"><span>Send a</span>MSG</a>
			</li>
		</ul>
	</nav>
</div>
